<h2>Usuario</h2>
<form (ngSubmit)="agregarUsuario()">
  <label>Nombre: </label><input [(ngModel)]="usuario.nombre" name="nombre" required>
  <label> Apellidos: </label><input [(ngModel)]="usuario.apellido" name="apellido" required>
  <label> Teléfono: </label><input [(ngModel)]="usuario.telefono" name="telefono" required>
  <label> Fecha de nacimiento: </label><input [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento" type="date" required>
  <button type="submit">Agregar</button>
</form>
<br>
<table class="tabla-usuarios">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Fecha Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td>{{ u.nombre }}</td>
      <td>{{ u.apellido }}</td>
      <td>{{ u.telefono }}</td>
      <td>{{ u.fechaNacimiento }}</td>
    </tr>
  </tbody>
</table>
